* {
    box-sizing: border-box;
    padding: .5%;
    margin: 0%;
    color: aliceblue;
    font-family: "proxima nova","times new roman",serif;
}

body {
    background-color: rgb(32, 10, 96);
}

/* Header and Nav begin */
.header {
    background-color: rgba(139, 0, 139, 0.714);
    border-style: solid;
    border-width: 4px;
    border-color: rgba(74, 0, 139, 0.56);
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.header nav ul li {
    border-right: 1px solid;
}

.header nav ul li:last-child {
    border-right: none;
}

a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: rgba(0, 206, 209, 0.659);
}

/* need to get this working for header and nav bar */
@media screen and (max-width: 600px) {
    .header {
        padding: 30px;
    }
}

/* Banner image begin*/
.sunset {
    height: 100%;
    width: 100%;
    background-image: url("./images/Sunset.gif");
    background-position: center;
    padding: 0;
}

/* Main begin */
h2 {
    float: left;
    padding-left: 5%;
    margin-bottom: 1%;
    clear: both;
}

section {
    border-left: 1px solid;
    padding-left: 5%;
    margin-bottom: 1%;
}

/* About Me begin */
.about-me {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 75%;
}

.image-box {
    background-color: darkmagenta;
}

/* Work begin */
.work1 {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 75%;
}

.work2, .work3, .work4, .work5 {
    width: 50%;
    object-fit: contain;
}

#work1-text, #work2-text, #work3-text, #work4-text, #work5-text {
    background-color: darkmagenta;
}

/* Contact Me begin */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 75%;
}