* {
    box-sizing: border-box;
    padding: .5%;
    margin: 0%;
    color: aliceblue;
    font-family: "proxima nova","times new roman",serif;
}

body {
    background-color: rgb(32, 10, 96);
}

/* Header and Nav begin */
.header {
    background-color: rgb(32, 32, 32);
    border-style: solid;
    border-width: 4px;
    border-color: rgb(149, 38, 132);
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.header nav ul li {
    float: right;
    border-right: 1px solid;
}

.header nav ul li:last-child {
    border-right: none;
}

a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color:black;
}

/* need to get this working for header and nav bar */
@media screen and (max-width: 600px) {
    .header {
        padding: 30px;
    }
}

/* Banner image begin*/
.sunset {
    height: 100%;
    width: 100%;
    background-image: url("./images/Sunset.gif");
    background-position: center;
    padding: 0;
}

/* Main begin */
.about-me-header {
    float: left;
    padding-left: 5%;
    border-right: 1px solid;
}

.about-me-paragraph {
    
}